<app-header />
<div>
  <div class="h-29rem">
    <img
      class="h-full w-full"
      src="assets/image/pexels-adrian-schmidt-56315239-11429535.jpg"
      alt=""
      style="object-fit: cover"
    />
  </div>
  <div class="transition-all transition-duration-100 text-center">
    <h1 class="text-7xl uppercase">Nike Global Day</h1>
    <p class="font-medium text-gray-700">
      Gift her everything she needs to run the ultimate marathon
    </p>
    <button
      class="bg-black-alpha-90 text-white border-none font-medium border-round py-2 px-4 my-3 outline-none hover:bg-black-alpha-60"
    >
      Shop
    </button>
  </div>
</div>
<div
  class="flex justify-content-center align-items-center my-4 transition-all transition-duration-100"
>

  <button
    class="border-none outline-none py-3 px-4 ml-3 border-round shadow-1 text-md font-bold bg-gray-200 hover:bg-black-alpha-90 hover:text-white cursor-pointer"
    (click)="handelFilterDataAll()"
  >
    All
  </button>
  <button
    class="border-none outline-none py-3 px-4 ml-3 border-round shadow-1 text-md font-bold bg-gray-200 hover:bg-black-alpha-90 hover:text-white cursor-pointer"
    (click)="handelFilterDataWoman()"
  >
    WOMAN
  </button>
  <button
    class="border-none outline-none py-3 px-4 ml-3 border-round shadow-1 text-md font-bold bg-gray-200 hover:bg-black-alpha-90 hover:text-white cursor-pointer"
    (click)="handelFilterDataMan()"
  >
    MAN
  </button>
</div>
<div class="flex justify-content-center align-items-center my-4">
  <button
    (click)="openDialog()"
    class="border-none outline-none py-3 px-4 ml-3 border-round shadow-1 text-md font-bold bg-gray-200 hover:bg-black-alpha-90 hover:text-white cursor-pointer"
  >
    Add Prodect
  </button>
</div>
<div class="">
  <div class="container grids">
    @for (item of items; track item.id) {
    <app-cart [prodect]="item"  (removeProdectEvent)="onCartClicked($event)"  (updateProdectEvent)="updateprodect($event)"  />
    }
  </div>
</div>





<!-- start Dialiog --> 
  <!-- if condtion is HERA IS NOT CONDTION IN COMPONENT   -->
  <app-models [isDialogOpen]="isDialogOpen" [isDialogclose]="closeDialog" [nameAction]="'CraetProdect'" (sheringDatatoApp)="uploadFile($event)" />
<!-- End Dialiog -->



